<h1>Kroatiassa</h1>
<hr/>
<h2>Vuoren rinteellä</h2>
<p>
    <img src="images/adrianmeri.jpg" style="width: 50%; padding: 1em; float: right;"/>
    Olemme matkustelleet Kroatiassa Dubrovnikin ja Cavtatin ympäristössä
    ja tänään kiipesimme vuoren rinteelle. Otimme valokuvan maisemasta
    Adrianmerelle. Vastarannalla meren takana olisi Italian rannikko.</p>
<div class="clearfix"></div>
<h2>Toinen kappale</h2>
<p>
    <img src="images/dubrovnik.jpg" style="width: 50%; padding: 1em; float: right;"/>
    Kävimme toissapäivänä Dubrovnikin vanhassa kaupungissa. Serbit
    piirittivät Dubrovnikia Bosnian sodan aikana 1990-luvulla läheisiltä
    vuorilta.</p>
