<h1>Tietokoneista</h1>
<hr/>
<h2>Windows</h2>
<p>
    <img src="images/windows10.png" style="width: 50%; padding: 1em; float: right;"/>
    Viestintäviraston hallinnoima .FI-verkkotunnus uudistuu jälleen. Yhteisöille
    ja yksityishenkilöille myönnettävät verkkotunnukset saa ensi vuodesta
    lähtien myös vuodeksi. Tällä hetkellä FICORA myöntää tunnuksia kolmeksi
    vuodeksi kerrallaan.</p>

<p>
    Samalla verkkotunnuksen rekisteröinti halpenee. Nykyinen 43 euron hinta
    kolmelle vuodelle laskee 41 euroon. Jos rekisteröijä rekisteröi tunnuksen
    vuodeksi, kustantaa se 15 euroa jokaiselta rekisteröintivuodelta.</p>
<div class="clearfix"></div>
<h2>Linux</h2>
<p>
    <img src="images/linux-distros.jpg" style="width: 50%; padding: 1em; float: right;"/>
    Viestintävirasto on tähän mennessä myöntänyt yli 196 000 .FI-verkkotunnusta.
    Määrä lähti räjähdysmäiseen kasvuun kun rekisteröinti vapautettiin yrityksille
    ja yhdistyksille syyskuussa 2003. Myöhemmin tunnusten rekisteröinti sallittiin
    myös yksityishenkilöille.</p>
